<main role="main">

  <section class="container-wrapper features">
    <div class="inner row one">
      <div class="left small">
        <%= image_tag 'companies/cloud.png' %>
      </div>
      <div class="right big">
        <h2>Living in the Cloud</h2>
        <p>
        Scale to
        millions of connected devices without even thinking about. You focus
        on the hardware and on your customers. We do the rest.
        </p>
      </div>
      <div class="clearfix"></div>
    </div>

    <hr/>

    <div class="inner row">
      <div class="left big">
        <h2>App Store for the Connected Home</h2>
        <p>
        Give the best of the Connected Home to the house owners through apps based on web,
        mobile, glasses, speech recognition, smart surfaces, neural based interfaces
        and everything else developers will be able to create.
        </p>
      </div>
      <div class="right small">
        <%= image_tag 'companies/apps.png' %>
      </div>
      <div class="clearfix"></div>
    </div>

    <hr/>

    <div class="inner row">
      <div class="left small">
        <%= image_tag 'companies/customizations.png' %>
      </div>
      <div class="right big">
        <h2>Customizations</h2>
        <p>
        Personalize any aspect of the Dashboard, from the layout (themes) to the user experience.
        Improve the company image with a white label version of Lelylan Dashboard. In this way users
        will not see you are using Lelylan, they will only see your product.
        </p>
        <p>
        <a class="button-add" href="https://github.com/lelylan/devices-dashboard-ng">See Lelylan Dashboard source code &rarr;</a>
        </p>
      </div>
      <div class="clearfix"></div>
    </div>

    <hr/>

    <div class="inner row">
      <div class="left big">
        <h2>Device Provisioning</h2>
        <p>
        Manage all of your device with few click, including provisioning and serial numbers
        definition for large-scale deployment.
        </p>
      </div>
      <div class="right small">
        <%= image_tag 'companies/provisioning.png' %>
      </div>
      <div class="clearfix"></div>
    </div>

    <hr/>

    <div class="inner row">
      <div class="left small">
        <%= image_tag 'companies/analytics.png' %>
      </div>
      <div class="right big">
        <h2>Analytics</h2>
        <p>
        Monitor you devices and get realtime information about their usage (number of requests)
        and their status (connected, blocked, etc.). Keep having full control of your
        product also when it's sold.
        </p>
      </div>
      <div class="clearfix"></div>
    </div>

    <hr/>

    <div class="inner row">
      <div class="left big">
        <h2>Any Device</h2>
        <p>
        Connect everything you interact with everyday of your life. Lights, appliances, alarms,
        cooling and heating systems, gas sensors, rolling shutters, windows, irrigations, video
        surveillance, gates, multimedia (audio and video) and much more.
        </p>
      </div>
      <div class="right small">
        <%= image_tag 'companies/any.png' %>
      </div>
      <div class="clearfix"></div>
    </div>
  </section>

  <section class="go">
  <div class="inner">
    <h2>Interested in Building Hardware Using Lelylan?</h2>
    <a href="http://people.lelylan.com/subscriptions/new" class="button-add">Join the Beta</a>
  </div>
  </section>

</main>
