<main role="main">

  <section class="container-wrapper features">
    <div class="inner row one">
      <div class="left small">
        <%= image_tag 'developers/api.png' %>
      </div>
      <div class="right big">
        <h2>Lelylan API</h2>
        <p>
        A simple, open and consistent REST API to access every physical device in your house through a unique URL.
        With wrappers in
        <a href="https://github.com/lelylan/lelylan-ng">Angular</a>,
        <a href="https://github.com/lelylan/lelylan-rb">Ruby</a>,
        <a href="https://github.com/lelylan/lelylan-node">Node.js</a> and
        <a href="http://dev.lelylan.com/community/clients">more</a>
        you can get started in minutes.
        </p>
        <p>
        <a class="button-add" href="http://dev.lelylan.com/developers">Learn how to create your first javascript app &rarr;</a>
        </p>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>

    <div class="inner row">
      <div class="left big">
        <h2>Third party apps</h2>
        <p>
        Create new apps related to web, mobile, energy saving, augmented reality, speech recognition,
        smart surfaces, neural based interfaces and anything else you like to work with. Start playing
        with the connected home.
        </p>
      </div>
      <div class="right small">
        <%= image_tag 'developers/apps.png' %>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>

    <div class="inner row">
      <div class="left small">
        <%= image_tag 'developers/github.png' %>
      </div>
      <div class="right big">
        <h2>Github love</h2>
        <p>
        Lelylan releases part of its work on <a href="https://github.com/lelylan">Github</a>.
        Open source is one of the best way we know to evolve fast and it's perfect to show you
        how easy can be using Lelylan. Between the others, check out the
        <a href="https://github.com/lelylan/device-component-ng">Device Component</a> and
        <a href="https://github.com/lelylan/devices-dashboard-ng">Lelylan Dashboard</a>.
        </p>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>

    <div class="inner row">
      <div class="left big">
        <h2>Web designers creativity</h2>
        <p>
        The <a href="https://github.com/lelylan/device-component-ng">Device Component</a>
        is an HTML5 tag we use to represent a device on a web page. If you are a frontend
        developer play with it's code and create new device specific components for lights,
        locks, thermostats and more.
        </p>
      </div>
      <div class="right small">
        <%= image_tag 'developers/designers.png' %>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>

    <div class="inner row">
      <div class="left small">
        <%= image_tag 'developers/simulation.png' %>
      </div>
      <div class="right big">
        <h2>Simulation first</h2>
        <p>
        With Lelylan you do not need any physical hardware to get started. Every device,
        when not connected to the physical world, simulates its behaviour. This means
        you can start building your apps without any initial cost.
        </p>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>

    <div class="inner row">
      <div class="left big">
        <h2>Techs</h2>
        <p>
        Lelylan uses as core techs Ruby and Node.js for the backend and AngularJS for the frontend.
        We also support Realtime Notifications, OAuth2 Authorizations and the CORS specs to allow
        cross-domain communication from the browser.
        </p>
      </div>
      <div class="right small">
        <%= image_tag 'developers/techs.png' %>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>

    <div class="inner row">
      <div class="left small">
        <%= image_tag 'developers/developers.png' %>
      </div>
      <div class="right big">
        <h2>We are developers too</h2>
        <p>
        We are in the field and know the issues in this industry firsthand. We’re
        dedicated to building the best and simplest connected home solution for developers.
        </p>
      </div>
      <div class="clearfix"></div>
      <hr/>
    </div>
  </section>

  <section class="go">
  <div class="inner">
    <h2>Interested in Building Apps Using Lelylan?</h2>
    <a href="http://people.lelylan.com/subscriptions/new" class="button-add">Join the Beta</a>
  </div>
  </section>

</main>
