<main role="main">

  <section class="container-wrapper features">
    <div class="inner row one">
      <div class="left small">
        <%= image_tag 'developers/api.png' %>
      </div>
      <div class="right big">
        <h2>Lelylan API</h2>
        <p>
        A simple, open and consistent REST API to access every physical devices in your house through a unique URL.
        With wrappers in
        <a href="https://github.com/lelylan/lelylan-ng">Angular</a>,
        <a href="https://github.com/lelylan/lelylan-rb">Ruby</a>,
        <a href="https://github.com/lelylan/lelylan-node">Node.js</a> and more,
        you can get started in minutes.
        </p>
        <p>
        <a class="button-add" href="http://dev.lelylan.com">Dev Center &rarr;</a>
        </p>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>

    <div class="inner row">
      <div class="left big">
        <h2>Third party apps</h2>
        <p>
        Create new apps based on web, mobile, energy saving, spatial motion interaction, augmented
        reality, speech recognition, smart surfaces, neural based interfaces and anything else you
        like to work with. It's time to play with the connected home.
        </p>
        <p>
        <a class="button-add" href="http://dev.lelylan.com/start/projects">See existing projects &rarr;</a>
        </p>
      </div>
      <div class="right small">
        <%= image_tag 'developers/apps.png' %>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>

    <div class="inner row">
      <div class="left small">
        <%= image_tag 'developers/github.png' %>
      </div>
      <div class="right big">
        <h2>Github love</h2>
        <p>
          Lelylan releases part of its work on
          <a href="https://github.com/lelylan">Github</a> as open source. This is a great way
          to show developers how to use Lelylan and this is way we have released projects like the
          <a href="https://github.com/lelylan/device-component-ng">Device Component</a>,
          <a href="https://github.com/lelylan/devices-dashboard-ng">Lelylan Dashboard</a> and
          <a href="https://github.com/lelylan/demo-dashboard-ng">Lelylan Demo</a>.
        </p>
        <p>
        <a class="button-add" href="https://github.com/lelylan">Lelylan on Github &rarr;</a>
        </p>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>

    <div class="inner row">
      <div class="left big">
        <h2>Web designers creativity</h2>
        <p>
        We have built the
        <a href="https://github.com/lelylan/device-component-ng">Device Component</a>
        to give the final user a unique user interface to <strong>control any device</strong>.
        This solution gives great flexibility, but limits the user experience. Start creating
        new creative and shiny device specific components for lights, locks, thermostats and more.
        </p>
        <p>
        <a class="button-add" href="https://github.com/lelylan/device-component-ng">Fork the device component and give it a new style &rarr;</a>
        </p>
      </div>
      <div class="right small">
        <%= image_tag 'developers/designers.png' %>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>

    <div class="inner row">
      <div class="left small">
        <%= image_tag 'developers/simulation.png' %>
      </div>
      <div class="right big">
        <h2>Simulation first</h2>
        <p>
        With Lelylan you do not need any physical hardware to get started. Every device,
        when not connected to the physical world, simulates its behaviour. This means
        that you can start building your apps without any additional cost.
        </p>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>

    <div class="inner row">
      <div class="left big">
        <h2>Technologies</h2>
        <p>
        Lelylan uses as core techs Ruby and Node.js for the backend and AngularJS for the frontend.
        We also support realtime notifications, OAuth2 authorization and the CORS specs to allows
        cross-domain communication from the browser.
        </p>
      </div>
      <div class="right small">
        <%= image_tag 'developers/techs.png' %>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>

    <div class="inner row">
      <div class="left small">
        <%= image_tag 'developers/developers.png' %>
      </div>
      <div class="right big">
        <h2>We are developers too</h2>
        <p>
        We have been in the field and seen the problems in this industry firsthand. We’re
        dedicated to building the best and simplest connected home solution for developers.
        </p>
        <p>
        <a class="button-add" href="/people">See who is working to the connected home &rarr;</a>
        </p>
      </div>
      <div class="clearfix"></div>
      <hr/>
    </div>
  </section>

  <section class="go">
  <div class="inner">
    <h2>Interested in building apps using Lelylan?</h2>
    <a href="http://people.lelylan.com/subscriptions/new" class="button-add">Join the Beta</a>
  </div>
  </section>

</main>
