<main role="main">

<section class="container-wrapper features">

    <div class="inner row one">
      <div class="right small">
        <%= image_tag 'developers/api.png' %>
      </div>
      <div class="left big">
        <h2>Unified set of APIs</h2>
        <p>
        Check out the <a href="http://dev.lelylan.com">Dev Center</a> and explore all the services Lelylan offers.
        You'll find a simple, open and consistent REST API to access physical devices,
        OAuth 2.0 for authorization, Webhooks for realtime, CORS for cross-domain communication,
        Web Components for faster web development and
        much more. With wrappers in Angular, Ruby, Node.js and more you can get started in minutes.
        </p>
        <p><a class="button-add" href="http://dev.lelylan.com">Go to the Dev Center &rarr;</a></p>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>


    <div class="inner row">
      <div class="left big">
        <h2>HTML5 &lt;device&gt; tag</h2>
        <p>
        No need to design device control solutions from scratch.
        Lelylan created the new <code>&lt;device&gt;</code>
        directive (aka HTML5 Web Componets) that offers a beautiful and customizable solution
        to create web apps across desktop, tablet, and mobile for the Connected Home in minutes.
        </p>
        <%= image_tag 'device-directive.png' %>
        <p><a class="button-add" href="http://lelylan.github.io/device-directive-ng/">Get started with the device component &rarr;</a></p>
      </div>
      <div class="right small">
        <%= image_tag 'companies/apps.png' %>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>


    <div class="inner row">
      <div class="left big">
        <h2>Lelylan dashboard</h2>
        <p>
        It lets you create, simulate, monitor and control connected products in realtime in the
        cloud. The dashboard is released as open-source and if you need a white label solution
        you can simply take the code, customize it and deploy the desired solution on your servers.
        We're constantly improving the capabilities of the dashboard and releasing it as open
        source, so watch for new features.
        </p>
        <%= image_tag 'dashboard-panel.png', class: 'bordered' %>
        <p>
        </p>
        <a class="button-add" href="http://lelylan.github.io/devices-dashboard-ng/">Get started with Lelylan Dashboard &rarr;</a>
        <a class="button-add" href="http://github.com/lelylan/devices-dashboard-ng/">Get source code on Github &rarr;</a>
      </div>
      <div class="right small">
        <%= image_tag 'companies/customizations.png' %>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>



    <div class="inner row">
      <div class="right small">
        <%= image_tag 'makers/integration.png' %>
      </div>
      <div class="left big">
        <h2>Simple and fast hardware integration</h2>
        <p>
        Use the hardware you are familiar with like
          <a href="http://www.arduino.cc/">Arduino</a> (ethernet and Yun),
          <a href="http://www.raspberrypi.org/">Raspberry Pi</a>,
          <a href="http://electricimp.com/">Electric Imp</a>,
          <a href="http://spark.io/">Spark Core</a>,
          <a href="http://tiny-circuits.com/">TinyDuino</a>,
          <a href="http://netduino.com//">NetDuino</a>,
          <a href="http://mbed.org">mbed</a> and
          <a href="http://www.openpicus.com/">Flyport</a>
          or others giving you web connectivity.
          Lelylan supports <a href="http://mqtt.org/">MQTT</a> and lets you integrate any
          physical device by implementing few simple services. Connect your hardware to Lelylan,
          fire up the dashboard and get control of the physical world.
        </p>

        <%= image_tag 'hardware.png', class: 'bordered' %>
        <p><a class="button-add" href="http://dev.lelylan.com/getting-started#connect-your-first-light">Connect your first light &rarr;</a></p>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>


    <div class="inner row">
      <div class="right small">
        <%= image_tag 'developers/apps.png' %>
      </div>
      <div class="left big">
        <h2>Apps for the Connected Home</h2>
        <p>
        Your products become part of a unified platform where devices communicate
        with each other and where services like <a href="http://ifttt.com">IFTTT</a>,
        <a href="http://twitter.com">Twitter</a> or
        <a href="http://www.google.it/glass/start/">Glasses</a>
        can be integrated. Create new apps related to web, mobile, energy saving,
        augmented reality, speech recognition, smart surfaces, neural based interfaces
        and anything else you like to work with. Start playing with the Connected Home
        and let <a href="http://twitter.com/lelylan">@lelylan</a> know about  your
        ideas and projects.
        </p>

        <p>
        <span class="button-add button-disabled">Lelylan Labs (coming 4Q 2014) &rarr;</span>
        <span class="button-add button-disabled">Lelylan Market (coming 1Q 2015) &rarr;</span>
        </p>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>


    <div class="inner row">
      <div class="left big">
        <h2>A structured solution</h2>
        <p>
        Lelylan describes the structure of any device using the concept of Types. For example
        we can have different lights (e.g. Lifx, Hue, etc) which uses different "languages"
        to communicate, but at the end (simplifying) they turn on and off. For this
        reason we created Lelylan Types, a place where you can find, create and discuss the
        structure of a device type which in its simplest form can be defined as the combination of
        three key elements.
        </p>

        <ul>
          <li>Properties - what vary during time.</li>
          <li>Functions - what a device can do.</li>
          <li>Statuses - what a device is in a specific time of its life.</li>
        </ul>

        <p>
        Defining the device type structure gives several advantages. Some are the possibility to
        automatically generate the device UIs, simulate the device behaviour when not connected
        to the physical world (perfect for app development) and standardize the structure of today's
        devices.</li>
        </p>

        <br><%= image_tag 'types.png' %><br><br>

        <a class="button-add" href="http://lelylan.github.io/types-dashboard-ng/">Get started with Lelylan Types &rarr;</a>
        <a class="button-add" href="http://dev.lelylan.com/types">Learn more about Types &rarr;</a>
      </div>
      <div class="right small">
        <%= image_tag 'makers/structured.png' %>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>


    <div class="inner row">
      <div class="right small">
        <%= image_tag 'companies/cloud.png' %>
      </div>
      <div class="left big">
        <h2>Tools for selling connected products</h2>
        <p>
        Manage all devicess with few click, including provisioning and serial numbers
        definition for large-scale deployment.
        Scale to millions of connected devices without even thinking about.
        Get to know which devices are functioning, which are offline, which are broken
        and see in real-time how your product is used, providing support when needed.
        Connected products produce an extraordinary amount of data and we want you to
        have the best solution to visualize it.
        </p>
        <span class="button-add button-disabled">Products Dashboard (coming 1Q/2Q 2015) &rarr;</span>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>


    <div class="inner row">
      <div class="right small">
        <%= image_tag 'makers/kickstarter.png' %>
      </div>
      <div class="left big">
        <h2>Kickstarter and Indiegogo ready</h2>
        <p>
        We love the idea of collaborating with your kickstarter hardware-based project
        and we had the luck to work on some crowdfunding campaigns. Use Lelylan to add new
        features and to speed up the development cycle of your connected products. We will
        give you full support for free and offer discounts on all of our services.
        </p>

        <a class="button-add" href="http://ezcontrol.it">Checkout the EZControl Indiegogo campaign &rarr;</a>

      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>


    <div class="inner row">
      <div class="right small">
        <%= image_tag 'developers/developers.png' %>
      </div>
      <div class="left big">
        <h2>The open source way</h2>
        <p>
        We are in the field and know the issues in this industry
        firsthand and we're dedicated on building the best and simplest solution for the Internet
        of Things. For this reason Lelylan releases part of its work on Github, because open
        source is one of the best ways we know to evolve fast and it's perfect to show you
        how easy can be using Lelylan.
        </p>
        <a class="button-add" href="http://github.com/lelylan">Checkout Lelylan on Github &rarr;</a>
      </div>
      <div class="clearfix"></div>
      <hr/>
    </div>

  </section>

  <section class="go">
  <div class="inner">
    <h2>Interested in Building Apps Using Lelylan?</h2>
    <a href="http://people.lelylan.com/users/sign_up" class="button-add">Get started with Lelylan</a>
  </div>
  </section>

</main>
