<main role="main">

  <section class="container-wrapper features">
    <div class="inner row one">
      <div class="right small">
        <%= image_tag 'developers/api.png' %>
      </div>
      <div class="left big">
        <h2>Lelylan API</h2>
        <p>
        A simple, open and consistent REST API to access every physical device
        through a unique URL. With wrappers in
        <a href="https://github.com/lelylan/lelylan-ng">Angular</a>,
        <a href="https://github.com/lelylan/lelylan-rb">Ruby</a>,
        <a href="https://github.com/lelylan/lelylan-node">Node.js</a> and
        <a href="http://dev.lelylan.com/community/clients">more</a>
        you can get started in minutes.
        </p>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>


     <div class="inner row">
      <div class="right small">
        <%= image_tag 'makers/everything.png' %>
      </div>
      <div class="left big">
        <h2>Everything communicates</h2>
        <p>
        Connect your device to the web using Lelylan and make it accessible through a rich
        set of API. Your products become part of a bigger platform where devices communicate
        with each other and where services like
        <a href="http://ifttt.com">IFTTT</a>,
        <a href="http://twitter.com">Twitter</a> and
        <a href="http://www.google.it/glass/start/">Glasses</a>
        can be integrated.
        </p>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>


    <div class="inner row">
      <div class="right small">
        <%= image_tag 'makers/integration.png' %>
      </div>
      <div class="left big">
        <h2>Simple and fast integration</h2>
        <p>
        Use the hardware you are familiar with
          <a href="http://www.arduino.cc/">Arduino</a>,
          <a href="http://electricimp.com/">Electric imp</a>,
          <a href="http://mbed.org">mbed</a>,
          <a href="http://www.raspberrypi.org/">Raspberry Pi</a>,
          <a href="http://www.openpicus.com/">Flyport</a>,
          <a href="http://nanode.eu/">Nanode</a>
          and basically any other hardware giving you web connectivity is a perfect solution.
          Lelylan also supports <a href="http://mqtt.org/">MQTT</a> and lets you integrate any
          physical device by implementing few simple services.
        </p>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>


    <div class="inner row">
      <div class="left big">
        <h2>Third party apps</h2>
        <p>
        Create new apps related to web, mobile, energy saving, augmented reality, speech recognition,
        smart surfaces, neural based interfaces and anything else you like to work with. Start playing
        with the Internet of Things. We will soon realize a market store where you'll be able to
        publish all of your works.
        </p>
      </div>
      <div class="right small">
        <%= image_tag 'developers/apps.png' %>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>


    <div class="inner row">
      <div class="left big">
        <h2>A structured solution</h2>
        <p>
        We believe devices must be structured in order to extend the Internet of Things potential.
        For this reason we created <a href="http://types.lelylan.com">Lelylan Types</a>, a place
        where you can find the most common device structures and where you can create new ones.
        </p>
      </div>
      <div class="right small">
        <%= image_tag 'makers/structured.png' %>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>


    <div class="inner row">
      <div class="right small">
        <%= image_tag 'companies/cloud.png' %>
      </div>
      <div class="left big">
        <h2>Living in the Cloud</h2>
        <p>
        Scale to
        millions of connected devices without even thinking about. You focus
        on the hardware and on your customers. We do the rest.
        </p>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>


    <div class="inner row">
      <div class="left big">
        <h2>Device Provisioning</h2>
        <p>
        Manage all of your device with few click, including provisioning and serial numbers
        definition for large-scale deployment.
        </p>
      </div>
      <div class="right small">
        <%= image_tag 'companies/provisioning.png' %>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>


    <div class="inner row">
      <div class="right small">
        <%= image_tag 'companies/analytics.png' %>
      </div>
      <div class="left big">
        <h2>Analytics</h2>
        <p>
        Monitor you devices and get realtime information about their usage (number of requests)
        and their status (connected, blocked, etc.). Keep having full control of your
        product also when it's sold.
        </p>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>


    <div class="inner row">
      <div class="right small">
        <%= image_tag 'companies/customizations.png' %>
      </div>
      <div class="left big">
        <h2>Customizations</h2>
        <p>
        Personalize any aspect of the Dashboard, from the layout (themes) to the user experience.
        Improve the company image with a white label version of Lelylan Dashboard. In this way users
        will not see you are using Lelylan, they will only see your product.
        </p>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>


    <div class="inner row">
      <div class="right small">
        <%= image_tag 'developers/github.png' %>
      </div>
      <div class="left big">
        <h2>Github love</h2>
        <p>
        Lelylan releases part of its work on <a href="https://github.com/lelylan">Github</a>.
        Open source is one of the best way we know to evolve fast and it's perfect to show you
        how easy can be using Lelylan. Between the others, check out the
        <a href="https://github.com/lelylan/device-directive-ng">Device Component</a> and
        <a href="https://github.com/lelylan/devices-dashboard-ng">Lelylan Dashboard</a>.
        </p>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>


    <div class="inner row">
      <div class="right small">
        <%= image_tag 'developers/simulation.png' %>
      </div>
      <div class="left big">
        <h2>Simulation enabled</h2>
        <p>
        With Lelylan you do not need any physical hardware to get started. Every device,
        when not connected to the physical world, simulates its behaviour. This means
        you can start building your apps without any initial cost.
        </p>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>


    <div class="inner row">
      <div class="right small">
        <%= image_tag 'makers/kickstarter.png' %>
      </div>
      <div class="left big">
        <h2>Kickstarter and Indiegogo ready</h2>
        <p>
        We love the idea of collaborating with your kickstarter hardware-based project
        and we had the luck to work on some crowdfunding campaign. Use Lelylan to add new
        features and to speed up the development cycle of your product. We will give you
        full support.
        </p>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>


    <div class="inner row">
      <div class="left big">
        <h2>Techs</h2>
        <p>
        Lelylan uses as core techs Ruby and Node.js for the backend and AngularJS for the frontend.
        We also support Realtime Notifications, OAuth2 Authorizations and the CORS specs to allow
        cross-domain communication from the browser.
        </p>
      </div>
      <div class="right small">
        <%= image_tag 'developers/techs.png' %>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>


    <div class="inner row">
      <div class="right small">
        <%= image_tag 'developers/developers.png' %>
      </div>
      <div class="left big">
        <h2>We are developers and makers too</h2>
        <p>
        We are in the field and know the issues in this industry firsthand. We’re
        dedicated to building the best and simplest solution for the Internet of Things.
        </p>
      </div>
      <div class="clearfix"></div>
      <hr/>
    </div>

  </section>

  <section class="go">
  <div class="inner">
    <h2>Interested in Building Apps Using Lelylan?</h2>
    <a href="http://people.lelylan.com/subscriptions/new" class="button-add">Join the Beta</a>
  </div>
  </section>

</main>
