<main role="main">

  <section class="container-wrapper features">

    <div class="inner row one">
      <div class="left small">
        <%= image_tag 'examples.png' %>
      </div>
      <div class="right big">
        <h2>An API that gets out of your way</h2>
        <p>
          See how turning a light on only requires a few lines of code with your favorite language.
        </p>

        <ul class="nav nav-tabs">
          <li class="active"><a href="#update-properties-curl" data-toggle="tab" class="curl">Curl</a></li>
          <li><a href="#update-properties-ruby" data-toggle="tab" class="ruby">Ruby</a></li>
          <li><a href="#update-properties-node" data-toggle="tab" class="node">Node.js</a></li>
          <li><a href="#update-properties-angular" data-toggle="tab" class="angular">AngularJS</a></li>
          <li><a href="#update-properties-python" data-toggle="tab" class="python">Python</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="update-properties-curl">
            <div class="preview"><pre><xmp>curl -X PUT http://api.lelylan.com/devices/<light-id>/properties \
     -H 'Authorization: Bearer <token>' \
     -H 'Content-Type: application/json' \
     -d '{ "properties": [{ "id": "<status-id>", "value": "on" }] }'</xmp></pre>
            </div>
          </div>
          <div class="tab-pane" id="update-properties-node">
            <div class="preview">
              <pre class="prettyprint"><xmp>var Lelylan = require('lelylan-node')({ token: token });
var params  = { properties: [{ id: '<status-id>', value: 'on' }] };
Lelylan.Device.properties('<light-id>', params, callback);</xmp></pre>
            </div>
          </div>
          <div class="tab-pane" id="update-properties-angular">
            <div class="preview">
              <pre class="prettyprint"><xmp><div ng-app="lelylan">
  <!-- login component here (dev.lelylan.com/api/oauth#implicit-grant-angular) -->
  <div ng-controller="LelylanController">{{device}}</div>
  <script>
    function LelylanController($scope, Device) {
      var params = { properties: [{ id: '<status-id>', value: 'on' }] };
      Device.properties('<light-id>', parmas).
        success(function(data) { $scope.device = data })
    }
  </script>
</div></xmp></pre>
            </div>
          </div>
          <div class="tab-pane" id="update-properties-ruby">
            <div class="preview">
              <pre class="prettyprint"><xmp>lelylan = Lelylan::Client.new(token: token)
params = { properties: [{ id: '<status-id>', value: 'on' }] };
device = lelylan.device_properties('<light-id>', params)</xmp></pre>
            </div>
          </div>
          <div class="tab-pane" id="update-properties-python">
            <div class="preview">
              <pre class="prettyprint"><xmp>from lelylan import oauth, devices
oauth.set_access_token()
params = { properties: [{ id: '<status-id>', value: 'on' }] }
device = update_dev_prop('<light-id>', params)</xmp></pre>
            </div>
          </div>
        </div>
        <%#<p><a class="button-add" href="/features">Learn more about Lelylan &rarr;</a></p>%>
      </div>
      <div class="clearfix"></div>
    </div>

    <hr/>

    <div class="inner row">
      <div class="left big">
        <h2>A smart cross-device dashboard</h2>
        <p>
        A beautiful, customizable, open source, realtime dashboard to control all of your devices.
        It recognizes the connected devices and gives you the needed UI to control them without
        writing one line of code.
        </p>
        <%= image_tag 'dashboard.png' %>
        <%#<p><a class="button-add" href="/features">Learn more about Lelylan &rarr;</a></p>%>
      </div>
      <div class="right small">
        <%= image_tag 'developers.png' %>
      </div>
      <div class="clearfix"></div>
    </div>


    <hr/>

    <div class="inner row">
      <div class="left small">
        <%= image_tag 'makers.png' %>
      </div>
      <div class="right big">
        <h2>Works with any hardware</h2>
        <p>
        Create connected products using the hardware you are most familiar with.
        </p>
        <%= image_tag 'hardware.png', class: 'bordered' %>
        <%#<p><a class="button-add" href="/features">Learn more about Lelylan &rarr;</a></p>%>
      </div>
      <div class="clearfix"></div>
    </div>

    <hr/>

    <div class="inner row">
      <div class="left big">
        <h2>Create, connect, control</h2>
        <p>
        With Lelylan you can connect any product to the internet in a metter of minutes.
        Simply add the code enabling the communication between Lelylan and your hardware
        and you are done. We give to your business all the tools you need to sell your
        next connected product in no time.
        </p>
        <%#<p><a class="button-add" href="/features">Learn more about Lelylan &rarr;</a></p>%>
      </div>
      <div class="right small">
        <%= image_tag 'companies/cloud.png' %>
      </div>
      <div class="clearfix"></div>
    </div>

  </section>

  <section class="go">
  <div class="inner">
    <h2>Sound awesome? We think so.</h2>
    <a href="http://dev.lelylan.com" class="button-add">Get started with Lelylan</a>
  </div>
  </section>

</main>
