<main role="main">
  <section class="container-wrapper news">
    <div class="inner">
      <p style="">
        <i class="fa fa-rocket"></i>
        (February 2015) <a href="https://medium.com/@lelylan/how-to-build-an-high-availability-mqtt-cluster-for-the-internet-of-things-8011a06bd000">We open sourced our High Availability MQTT cluster architecture!</a>
      </p>
    </div>
  </section>
</main>

<main role="main">

  <section class="container-wrapper features">

    <div class="inner row one">
      <div class="right small">
        <%= image_tag 'examples.png' %>
      </div>
      <div class="left big">
        <h2>An API that gets out of your way</h2>
        <p>
          See how turning a light on only requires a few lines of code with your favorite language.
          We offer wrappers in AngularJS, Ruby, Node.js, Python, Android and iOS.
        </p>

        <ul class="nav nav-tabs">
          <li class="active"><a href="#update-properties-curl" data-toggle="tab" class="curl">Curl</a></li>
          <li><a href="#update-properties-ruby" data-toggle="tab" class="ruby">Ruby</a></li>
          <li><a href="#update-properties-node" data-toggle="tab" class="node">Node.js</a></li>
          <li><a href="#update-properties-angular" data-toggle="tab" class="angular">AngularJS</a></li>
          <li><a href="#update-properties-python" data-toggle="tab" class="python">Python</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="update-properties-curl">
            <div class="preview"><pre><xmp>curl -X PUT http://api.lelylan.com/devices/<light-id>/properties \
     -H 'Authorization: Bearer <token>' \
     -H 'Content-Type: application/json' \
     -d '{ "properties": [{ "id": "<status-id>", "value": "on" }] }'</xmp></pre>
            </div>
          </div>
          <div class="tab-pane" id="update-properties-node">
            <div class="preview">
              <pre class="prettyprint"><xmp>var Lelylan = require('lelylan-node')({ token: token });
var params  = { properties: [{ id: '<status-id>', value: 'on' }] };
Lelylan.Device.properties('<light-id>', params, callback);</xmp></pre>
            </div>
          </div>
          <div class="tab-pane" id="update-properties-angular">
            <div class="preview">
              <pre class="prettyprint"><xmp><div ng-app="lelylan">
  <!-- login component here (dev.lelylan.com/api/oauth#implicit-grant-angular) -->
  <div ng-controller="LelylanController">{{device}}</div>
  <script>
    function LelylanController($scope, Device) {
      var params = { properties: [{ id: '<status-id>', value: 'on' }] };
      Device.properties('<light-id>', parmas).
        success(function(data) { $scope.device = data })
    }
  </script>
</div></xmp></pre>
            </div>
          </div>
          <div class="tab-pane" id="update-properties-ruby">
            <div class="preview">
              <pre class="prettyprint"><xmp>lelylan = Lelylan::Client.new(token: token)
params = { properties: [{ id: '<status-id>', value: 'on' }] };
device = lelylan.device_properties('<light-id>', params)</xmp></pre>
            </div>
          </div>
          <div class="tab-pane" id="update-properties-python">
            <div class="preview">
              <pre class="prettyprint"><xmp>from lelylan import oauth, devices
oauth.set_access_token()
params = { properties: [{ id: '<status-id>', value: 'on' }] }
device = update_dev_prop('<light-id>', params)</xmp></pre>
            </div>
          </div>
        </div>
        <p><a class="button-add" href="http://lelylan.github.io/lab-ng/#/projects/software">Get started with your favorite language &rarr;</a></p>
      </div>
      <div class="clearfix"></div>
    </div>

    <hr/>

    <div class="inner row">
      <div class="left big">
        <h2>Works with any hardware</h2>
        <p>
        Create connected products using the hardware you are most familiar with.
        We already tested different solutions like Arduino Yun, Raspberry Pi, Electric Imp,
        Spark Core, Netduino, Texas Instruments CC3000/CC3200 and more are on the way.
        </p>
        <%= image_tag 'hardware.png', class: 'bordered' %>
        <p><a class="button-add" href="http://lelylan.github.io/lab-ng/#/projects/hardware">Get started with your favorite hardware &rarr;</a></p>
      </div>
      <div class="right small">
        <%= image_tag 'makers.png' %>
      </div>
      <div class="clearfix"></div>
    </div>

    <hr/>

    <div class="inner row">
      <div class="right small">
        <%= image_tag 'developers.png' %>
      </div>
      <div class="left big">
        <h2>A smart cross-device dashboard</h2>
        <p>
        A beautiful, customizable, open source, realtime dashboard to control all of your devices.
        Based on Web Components it's perfect to create white label solutions working on
        mobile, tablet or desktop.
        </p>
        <%= image_tag 'dashboard.png', style: 'float: left' %>
      </div>
      <div class="clearfix"></div>
        <p>
        <a class="button-add" href="http://lelylan.github.io/devices-dashboard-ng/demo.html">Try a demo of Lelylan Dashboard &rarr;</a>
        <a class="button-add" href="/news/lelylan-device/">Learn more about Lelylan Web Components &rarr;</a>
        </p>
    </div>

    <hr/>

    <div class="inner row">
      <div class="left big">
        <h2>Create, Connect, Control</h2>
        <p>
        With Lelylan you can connect any product to the internet in a matter of minutes.
        Add the code enabling the communication between Lelylan and your hardware
        and control the physical world from mobile, tablet and desktop. You can get
        started in 15 minutes.
        </p>
      </div>
      <div class="right small">
        <%= image_tag 'companies/cloud.png' %>
      </div>
      <div class="clearfix"></div>
      <div ng-app="project-app">
        <ly-project ly-project-id="5457a193386166008d000000"></ly-project>
        <ly-project ly-project-id="547d9104316135000e000000"></ly-project>
        <link rel="stylesheet" href="http://lelylan.github.io/lab-directives-ng/styles/main.css"><script src="http://lelylan.github.io/lab-directives-ng/scripts/vendor.js"></script><script src="http://lelylan.github.io/lab-directives-ng/scripts/scripts.js"></script><script>angular.module('project-app', ['lelylan-lab.directives.project']);</script>
      </div>
      <div class="clearfix"></div>
      <p><a class="button-add" href="http://lelylan.github.io/lab-ng/#/projects/light">Get started creating your own smart light (with any hardware) &rarr;</a></p>
    </div>


  </section>

  <section class="go">
  <div class="inner">
    <h2>Sound awesome? We think so.</h2>
    <a href="http://people.lelylan.com/users/sign_up" class="button-add">Get started with Lelylan</a>
  </div>
  </section>

</main>
