<main role="main">

  <section class="container-wrapper features">
    <div class="inner row one">
      <div class="left small">
        <%= image_tag 'makers/everything.png' %>
      </div>
      <div class="right big">
        <h2>Everything communicates</h2>
        <p>
        Connect your device to the web using Lelylan and make it accessible through a rich
        set of API. Your products become part of a bigger platform where devices communicate
        with each other and where services like
        <a href="http://ifttt.com">IFTTT</a>,
        <a href="http://twitter.com">Twitter</a> and
        <a href="http://www.google.it/glass/start/">Glasses</a>
        can be integrated.
        </p>
        <p>
        <a class="button-add" href="http://dev.lelylan.com/api/physicals">Physicals API &rarr;</a>
        </p>
      </div>
      <div class="clearfix"></div>
    </div>

    <hr/>

    <div class="inner row">
      <div class="left big">
        <h2>Any hardware</h2>
        <p>
          Use the hardware you are familiar with.
          <a href="http://www.arduino.cc/">Arduino</a>,
          <a href="http://electricimp.com/">Electric imp</a>,
          <a href="http://www.raspberrypi.org/">Raspberry Pi</a>,
          <a href="http://nanode.eu/">Nanode</a>,
          <a href="http://www.openpicus.com/">Flyport</a>
          and basically any other hardware giving you web connectivity is a perfect solution.
        </p>
      </div>
      <div class="right small">
        <%= image_tag 'makers/hardware.png' %>
      </div>
      <div class="clearfix"></div>
    </div>

    <hr/>

    <div class="inner row">
      <div class="left small">
        <%= image_tag 'makers/integration.png' %>
      </div>
      <div class="right big">
        <h2>Simple and fast integration</h2>
        <p>
        Integrating Lelylan to any physical device requires you to implement just two services.
        We work hard on making this process as simple as possible to let you focus only on
        the product and design definition.
        </p>
        <p>
        <a class="button-add" href="http://dev.lelylan.com/api/physicals">Physicals API &rarr;</a>
        </p>
      </div>
      <div class="clearfix"></div>
    </div>

    <hr/>

    <div class="inner row">
      <div class="left big">
        <h2>A structured solution</h2>
        <p>
        Devices must be clearly defined. Once the device properties and functionalities are
        defined we can extend the connected home capabilities. For this reason we created the
        <a href="http://types.lelylan.com">Lelylan Types</a>. Here you can find the most common devices
        or create new ones.
        </p>
        <p>
        <a class="button-add" href="http://types.lelylan.com">Help us defining the connected home structure &rarr;</a>
        </p>
      </div>
      <div class="right small">
        <%= image_tag 'makers/structured.png' %>
      </div>
      <div class="clearfix"></div>
    </div>

    <hr/>

    <div class="inner row">
      <div class="left small">
        <%= image_tag 'makers/sell.png' %>
      </div>
      <div class="right big">
        <h2>Sell your products</h2>
        <p>
        You are a startup and you want to sell a new smart device? We give you a
        dashboard to create and monitor all your devices, together with a secure
        activation system that makes your customers the owners of your devices.
        </p>
      </div>
      <div class="clearfix"></div>
    </div>

    <hr/>

    <div class="inner row">
      <div class="left big">
        <h2>Infinite apps</h2>
        <p>
        Everyone can build new solutions using Lelylan and you automatically get them. A Google
        Glass app let Lelylan control any device? An HTML5 app works on any mobile device? As soon
        as new solutions pop up, you can use them to access your devices.
        </p>
        <p>
        <a class="button-add" href="/developers">Developers &rarr;</a>
        </p>
      </div>
      <div class="right small">
        <%= image_tag 'makers/infinite.png' %>
      </div>
      <div class="clearfix"></div>
    </div>

    <hr/>

    <div class="inner row">
      <div class="left small">
        <%= image_tag 'makers/kickstarter.png' %>
      </div>
      <div class="right big">
        <h2>Kickstarter ready</h2>
        <p>
          Lelylan supports any hardware-based project, no matter how big, brought to
          life through the ideas of people like you. Use Lelylan to add new features and to
          speed up the development cycle of your product. We will give you full support.
        </p>
      </div>
      <div class="clearfix"></div>
    </div>
  </section>

  <section class="go">
  <div class="inner">
    <h2>Interested in building hardware using Lelylan?</h2>
    <a href="http://people.lelylan.com/subscriptions/new" class="button-add">Join the Beta</a>
  </div>
  </section>

</main>
