<main role="main">

  <section class="container-wrapper features">
    <div class="inner row one">
      <div class="left small">
        <%= image_tag 'makers/everything.png' %>
      </div>
      <div class="right big">
        <h2>Everything communicates</h2>
        <p>
        Connect your device to the web using Lelylan and make it accessible through a rich
        set of API. Your products become part of a bigger platform where devices communicate
        with each other and where services like
        <a href="http://ifttt.com">IFTTT</a>,
        <a href="http://twitter.com">Twitter</a> and
        <a href="http://www.google.it/glass/start/">Glasses</a>
        can be integrated.
        </p>
        <p>
        <a class="button-add" href="http://dev.lelylan.com/getting-started#connect-your-first-light">Learn how to connect your first light &rarr;</a>
        </p>
      </div>
      <div class="clearfix"></div>
    </div>

    <hr/>

    <div class="inner row">
      <div class="left big">
        <h2>Any hardware</h2>
        <p>
          Use the hardware you are familiar with
          <a href="http://www.arduino.cc/">Arduino</a>,
          <a href="http://electricimp.com/">Electric imp</a>,
          <a href="http://mbed.org">mbed</a>,
          <a href="http://www.raspberrypi.org/">Raspberry Pi</a>,
          <a href="http://www.openpicus.com/">Flyport</a>,
          <a href="http://nanode.eu/">Nanode</a>
          and basically any other hardware giving you web connectivity is a perfect solution.
        </p>
      </div>
      <div class="right small">
        <%= image_tag 'makers/hardware.png' %>
      </div>
      <div class="clearfix"></div>
    </div>

    <hr/>

    <div class="inner row">
      <div class="left small">
        <%= image_tag 'makers/integration.png' %>
      </div>
      <div class="right big">
        <h2>Simple and fast integration</h2>
        <p>
        Lelylan supports <a href="http://mqtt.org/">MQTT</a> and lets you integrate any physical
        device by implementing two services.
        </p>
      </div>
      <div class="clearfix"></div>
    </div>

    <hr/>

    <div class="inner row">
      <div class="left big">
        <h2>A structured solution</h2>
        <p>
        We believe devices must be structured in order to extend the connected home potential.
        For this reason we created <a href="http://types.lelylan.com">Lelylan Types</a>, a place
        where you can find the most common device structures and where you can create new ones.
        </p>
      </div>
      <div class="right small">
        <%= image_tag 'makers/structured.png' %>
      </div>
      <div class="clearfix"></div>
    </div>

    <hr/>

    <div class="inner row">
      <div class="left small">
        <%= image_tag 'makers/sell.png' %>
      </div>
      <div class="right big">
        <h2>Sell your products</h2>
        <p>
        Are you a startup ready to sell a new smart device? We give you a complete dashboard to
        create and monitor all of your devices, together with the activation API that will make
        your customers the only owners of your devices.
        </p>
      </div>
      <div class="clearfix"></div>
    </div>

    <hr/>

    <div class="inner row">
      <div class="left big">
        <h2>Infinite apps</h2>
        <p>
        Everyone can build new apps using Lelylan. The nice part is that you automatically get them.
        A Google Glass app let Lelylan control any device? An HTML5 app works on any mobile device?
        As soon as new solutions pop up, your customers can use them to access your devices.
        </p>
      </div>
      <div class="right small">
        <%= image_tag 'makers/infinite.png' %>
      </div>
      <div class="clearfix"></div>
    </div>

    <hr/>

    <div class="inner row">
      <div class="left small">
        <%= image_tag 'makers/kickstarter.png' %>
      </div>
      <div class="right big">
        <h2>Kickstarter ready</h2>
        <p>
        We love the idea of collaborating with your kickstarter hardware-based project.
        Use Lelylan to add new features and to speed up the development cycle of your
        product. We will give you full support.
        </p>
      </div>
      <div class="clearfix"></div>
    </div>
  </section>

  <section class="go">
  <div class="inner">
    <h2>Interested in Building Hardware Using Lelylan?</h2>
    <a href="http://people.lelylan.com/subscriptions/new" class="button-add">Join the Beta</a>
  </div>
  </section>

</main>
