<main>

  <div id="page">
    <div id="pageInner">
      <div id="actionContent">
        <section id="answers">

        <div class="answerElement" id="question1">

          <div class="inner row one">
            <h1>Makers</h1>
            <p class="description">Experimenting hardware platforms and creating physical devices. <a href="http://people.lelylan.com/users/sign_up">Join us.</a></p>
            <h2 class="userName"><a target="_blank" href="http://www.twitter.com/bugduino" style="opacity: 1;">William Bergamo</a></h2>

            <div class="avatarRow">
              <div class="avatarRowInner" style="left: -51px;">
                <div href="" class="avatarLink" data-index="0" data-userid="1" data-questionid="1">
                  <%= image_tag 'avatars/bugduino.jpg' %>
                  <a href="http://www.twitter.com/bugduino" target="_blank"></a>
                </div>
                <div href="" class="avatarLink inactive" data-index="1" data-userid="2" data-questionid="1">
                  <%= image_tag 'avatars/1.jpg' %>
                  <a href="http://www.twitter.com/tumaku_" target="_blank"></a>
                </div>
                <div href="" class="avatarLink inactive" data-index="2" data-userid="3" data-questionid="1">
                  <%= image_tag 'avatars/2.jpg' %>
                  <a href="http://www.twitter.com/recipient" target="_blank"></a>
                </div>
                <div href="" class="avatarLink inactive" data-index="3" data-userid="4" data-questionid="1">
                  <%= image_tag 'avatars/bugant.jpg' %>
                  <a href="http://www.twitter.com/bugant" target="_blank"></a>
                </div>
                <div href="" class="avatarLink inactive" data-index="4" data-userid="5" data-questionid="1">
                  <%= image_tag 'avatars/potomak.jpg' %>
                  <a href="http://www.twitter.com/potomak" target="_blank"></a>
                </div>
              </div>
              <div class="gradientRight"></div>
              <div class="gradientLeft"></div>
            </div>
          </div>
        </div>

        <hr/>

        <div class="answerElement" id="question2">

          <div class="inner row">
            <h1>Developers</h1>
            <p class="description">Creating new apps and combining existing services with Lelylan. <a href="http://people.lelylan.com/subscriptions/new">Join us.</a></p>
            <h2 class="userName"><a target="_blank" href="http://www.twitter.com/andreareginato" style="opacity: 1;">Reggie</a></h2>

            <div class="avatarRow">
              <div class="avatarRowInner" style="left: -51px;">
                <div href="" class="avatarLink" data-index="0" data-userid="1" data-questionid="2">
                  <%= image_tag 'avatars/3.jpg' %>
                  <a href="http://www.twitter.com/andreareginato" target="_blank"></a>
                </div>
                <div href="" class="avatarLink inactive" data-index="1" data-userid="2" data-questionid="2">
                  <%= image_tag 'avatars/5.jpg' %>
                  <a href="http://www.twitter.com/matteocollina" target="_blank"></a>
                </div>
                <div href="" class="avatarLink inactive" data-index="2" data-userid="3" data-questionid="2">
                  <%= image_tag 'avatars/7.jpg' %>
                  <a href="https://twitter.com/Chritchen" target="_blank"></a>
                </div>
              </div>
              <div class="gradientRight"></div>
              <div class="gradientLeft"></div>
            </div>
          </div>
        </div>

        <hr/>

        <div class="answerElement" id="question3">

          <div class="inner row">
            <h1>Social</h1>
            <p class="description">Taking care of our site, blog and social communication. <a href="http://people.lelylan.com/users/sign_up">Join us.</a></p>
            <h2 class="userName"><a target="_blank" href="http://www.twitter.com/lorenzograndi4" style="opacity: 1;">Nzo</a></h2>

            <div class="avatarRow">
              <div class="avatarRowInner" style="left: -51px;">
                <div href="" class="avatarLink" data-index="0" data-userid="1" data-questionid="3">
                  <%= image_tag 'avatars/4.jpg' %>
                  <a href="http://www.twitter.com/lorenzograndi4" target="_blank"></a>
                </div>
                <div href="" class="avatarLink inactive" data-index="1" data-userid="2" data-questionid="3">
                  <%= image_tag 'avatars/6.jpg' %>
                  <a href="http://www.twitter.com/lelylan" target="_blank"></a>
                </div>
              </div>
              <div class="gradientRight"></div>
              <div class="gradientLeft"></div>
            </div>
          </div>
        </div>

        <hr style="margin-top:100px">

        <div>
          <div class="inner row">
            <h2>Get in touch</h2>
            <p>
            Want to join? Let <a href="https://twitter.com/lelylan">@lelylan</a> know on Twitter or write us an <a href="mailto:touch@lelylan.com">email</a>
            </p>

            <%#<h2>Who is behind Lelylan?</h2>%>
            <%#<p>%>
            <%#Lelylan is a <strong>one man band</strong> project created and developed from%>
            <%#<a href="https://twitter.com/andreareginato">Andrea Reginato</a>. <br> But. There is a but.%>
            <%#All the people in this page helped Lelylan to be as good as it is right now<br>%>
            <%#and for this reason I thank everyone helping me until now and the ones that will come.<br>%>
            <%#If you like Lelylan and you want help us improving it, let <a href="http://twitter.com/lelylan">@lelylan</a>%>
            <%#know on Twitter<br>%>
            <%#and we'll be more than happy to give your free accesses to the platform.%>
            <%#</p>%>
          </div>
        </div>
        </section>
      </div>


    </div>
  </div>

  <section class="go">
  <div class="inner">
    <h2>Interested in collaborating with Lelylan?</h2>
    <a href="http://people.lelylan.com/users/sign_up" class="button-add">Get started with Lelylan</a>
  </div>
  </section>

</main>

