<main>

  <div id="page">
    <div id="pageInner">
      <div id="actionContent">
        <section id="answers">

        <div class="answerElement" id="question1">

          <div class="inner row one">
            <h1>Makers</h1>
            <p class="description">Experimenting hardware platforms and creating physical devices. <a href="http://people.lelylan.com/subscriptions/new">Join us.</a></p>
            <h2 class="userName"><a target="_blank" href="http://www.twitter.com/tumaku_" style="opacity: 1;">Javier Montaner</a></h2>

            <div class="avatarRow">
              <div class="avatarRowInner" style="left: -51px;">
                <div href="" class="avatarLink" data-index="0" data-userid="1" data-questionid="1">
                  <%= image_tag 'avatars/1.jpg' %>
                  <a href="http://www.twitter.com/tumaku_" target="_blank"></a>
                </div>
                <div href="" class="avatarLink inactive" data-index="1" data-userid="2" data-questionid="1">
                  <%= image_tag 'avatars/2.jpg' %>
                  <a href="http://www.twitter.com/recipient" target="_blank"></a>
                </div>
              </div>
              <div class="gradientRight"></div>
              <div class="gradientLeft"></div>
            </div>
          </div>
        </div>

        <hr/>

        <div class="answerElement" id="question2">

          <div class="inner row">
            <h1>Developers</h1>
            <p class="description">Creating new apps and combining existing services with Lelylan. <a href="http://people.lelylan.com/subscriptions/new">Join us.</a></p>
            <h2 class="userName"><a target="_blank" href="http://www.twitter.com/andreareginato" style="opacity: 1;">Reggie</a></h2>

            <div class="avatarRow">
              <div class="avatarRowInner" style="left: -51px;">
                <div href="" class="avatarLink" data-index="0" data-userid="1" data-questionid="2">
                  <%= image_tag 'avatars/3.jpg' %>
                  <a href="http://www.twitter.com/andreareginato" target="_blank"></a>
                </div>
                <div href="" class="avatarLink inactive" data-index="1" data-userid="2" data-questionid="2">
                  <%= image_tag 'avatars/5.jpg' %>
                  <a href="http://www.twitter.com/gravityblast" target="_blank"></a>
                </div>
              </div>
              <div class="gradientRight"></div>
              <div class="gradientLeft"></div>
            </div>
          </div>
        </div>

        <hr/>

        <div class="answerElement" id="question3">

          <div class="inner row">
            <h1>Social</h1>
            <p class="description">Taking care of our site, blog and social communication. <a href="http://people.lelylan.com/subscriptions/new">Join us.</a></p>
            <h2 class="userName"><a target="_blank" href="http://www.twitter.com/lorenzograndi4" style="opacity: 1;">Nzo</a></h2>

            <div class="avatarRow">
              <div class="avatarRowInner" style="left: -51px;">
                <div href="" class="avatarLink" data-index="0" data-userid="1" data-questionid="3">
                  <%= image_tag 'avatars/4.jpg' %>
                  <a href="http://www.twitter.com/lorenzograndi4" target="_blank"></a>
                </div>
                <div href="" class="avatarLink inactive" data-index="1" data-userid="2" data-questionid="3">
                  <%= image_tag 'avatars/6.jpg' %>
                  <a href="http://www.twitter.com/lelylan" target="_blank"></a>
                </div>
              </div>
              <div class="gradientRight"></div>
              <div class="gradientLeft"></div>
            </div>
          </div>
        </div>

        </section>
      </div>

    </div>
  </div>

  <section class="go">
  <div class="inner">
    <h2>Interested in collaborating with Lelylan?</h2>
    <a href="http://people.lelylan.com/subscriptions/new" class="button-add">Join the Beta</a>
  </div>
  </section>

</main>

