<main role="main">

  <section class="container-wrapper features">
    <div class="inner row one">
      <div class="left small">
        <%= image_tag 'pricing/free.png' %>
      </div>

      <div class="right big">
        <div class="table-pricing">
          <div class="table-title">
            <h2 class="plan">Free Plan</h2>
            <h2 class="price">$0. <a href="#" class="free-price">Forever.</a></h2>
          </div>

          <table class="table table-hover">
            <tbody>
              <tr>
                <td>
                  <%= image_tag 'pricing/pricing-included.png' %>
                  <span class="highlight">1</span> connected device
                  <a href="#" class="info info-connected">(what is this?)</a>
                </td>
              </tr>
              <tr>
                <td>
                  <%= image_tag 'pricing/pricing-included.png' %>
                  <span class="highlight">5K</span> requests per month
                </td>
              </tr>
              <tr>
                <td>
                  <%= image_tag 'pricing/pricing-included.png' %>
                  Access to the dev center and the dashboard (web and mobile)
                </td>
              </tr>
              <tr class="missing">
                <td>
                  <%= image_tag 'pricing/pricing-not-included-gray.png' %>
                  White label dashboard
                </td>
              </tr>
              <tr class="missing">
                <td>
                  <%= image_tag 'pricing/pricing-not-included-gray.png' %>
                  Batch devices definition
                </td>
              </tr>
              <tr class="missing">
                <td>
                  <%= image_tag 'pricing/pricing-not-included-gray.png' %>
                  Priority support
                </td>
              </tr>
            </tbody>
          </table>

          <a href="http://people.lelylan.com/subscriptions/new" class="button-add button-add-big">Join the beta</a>
        </div>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>

    <div class="inner row">
      <div class="left big">
        <div class="table-pricing">
          <div class="table-title">
            <h2 class="plan">Makers Plan</h2>
            <h2 class="price">$29. <a href="#" class="makers-price">Forever.</a></h2>
          </div>

          <table class="table table-hover">
            <tbody>
              <tr>
                <td>
                  <%= image_tag 'pricing/pricing-included.png' %>
                  <span class="highlight">1</span> connected device
                  <a href="#" class="info info-connected">(what is this?)</a>
                  <%#<span class="description">Paying this price includes unlimited access to all included Lelylan services. Forever.</span>%>
                  <button class="button-add button-change button-coming-soon disabled" style="float:right">Add devices <br>($10 each)</button>
                </td>
              </tr>
              <tr>
                <td>
                  <%= image_tag 'pricing/pricing-included.png' %>
                  <span class="highlight">100K</span> requests per month
                  <a href="#" class="info info-requests-month">(what is this?)</a>
                  <button class="button-add button-change button-coming-soon disabled" style="float:right">Add requests <br>($10 to add 50K req/month)</button>
                </td>
              </tr>
              <tr>
                <td>
                  <%= image_tag 'pricing/pricing-included.png' %>
                  Access to the dev center and the dashboard (web and mobile)
                </td>
              </tr>
              <tr class="missing">
                <td>
                  <%= image_tag 'pricing/pricing-not-included-gray.png' %>
                  White label dashboard
                </td>
              </tr>
              <tr class="missing">
                <td>
                  <%= image_tag 'pricing/pricing-not-included-gray.png' %>
                  Batch devices definition
                </td>
              </tr>
              <tr class="missing">
                <td>
                  <%= image_tag 'pricing/pricing-not-included-gray.png' %>
                  Priority support via mail
                </td>
              </tr>
            </tbody>
          </table>

          <button class="button-add button-add-big button-coming-soon disabled">Coming soon</button>
        </div>
      </div>
      <div class="right small">
        <%= image_tag 'pricing/makers.png' %>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>

    <div class="inner row">
      <div class="left small">
        <%= image_tag 'pricing/premium.png' %>
      </div>
      <div class="right big">
        <div class="table-pricing">
          <div class="table-title">
            <h2 class="plan">Premium Plan</h2>
            <h2 class="price">$499. <a href="#" class="enterprise-price">Forever.</a></h2>
          </div>

          <table class="table table-hover">
            <tbody>
              <tr>
                <td>
                  <%= image_tag 'pricing/pricing-included.png' %>
                  <span class="highlight">Unlimited</span> connected device
                  <a href="#" class="info info-connected">(what is this?)</a>
                </td>
              </tr>
              <tr>
                <td>
                  <%= image_tag 'pricing/pricing-included.png' %>
                  Start pack of <span class="highlight">10M</span> requests
                  <a href="#" class="info info-requests-pack">(what is this?)</a>
                  <button class="button-add button-change button-coming-soon disabled" style="float:right">Add requests <br>($10 to add 5M req)</button>
                </td>
              </tr>
              <tr>
                <td>
                  <%= image_tag 'pricing/pricing-included.png' %>
                  Access to the dev center and the dashboard
                </td>
              </tr>
              <tr>
                <td>
                  <%= image_tag 'pricing/pricing-included.png' %>
                  White label dashboard
                  <a href="#" class="info info-white-label">(what is this?)</a>
                </td>
              </tr>
              <tr>
                <td>
                  <%= image_tag 'pricing/pricing-included.png' %>
                  Batch devices definition
                  <a href="#" class="info info-batch">(what is this?)</a>
                </td>
              </tr>
              <tr>
                <td>
                  <%= image_tag 'pricing/pricing-included.png' %>
                  Priority support via mail
                </td>
              </tr>
            </tbody>
          </table>

          <button class="button-add button-add-big button-coming-soon disabled">Coming soon</button>
        </div>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>

  <section class="go">
  <div class="inner">
    <h2>Interested in using Lelylan?</h2>
    <a href="http://people.lelylan.com/subscriptions/new" class="button-add">Join the Beta</a>
  </div>
  </section>

</main>
