<main role="main">

  <section class="container-wrapper features">

    <div class="inner row one">
      <div class="table-pricing">
        <div class="table-title">
          <div>
            <h2 class="plan">Free Plan</h2>
            <h2 class="price"><a href="#" class="makers-price">45 days trial</a></h2>
          </div>
        </div>
        <div class="table-title table-subtitle">
          <div>
            <p class="plan">Try Lelylan out. No credit card required.</p>
          </div>
        </div>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>
                <%= image_tag 'pricing/pricing-included.png' %>
                <span class="highlight">Unlimited</span> Connected Device
                <a href="#" class="info info-connected">(what is this?)</a>
              </td>
            </tr>
            <tr>
              <td>
                <%= image_tag 'pricing/pricing-included.png' %>
                <span class="highlight">1M</span> requests per month per device
                <a href="#" class="info info-requests-month">(what is this?)</a>
              </td>
            </tr>
            <tr>
              <td>
                <%= image_tag 'pricing/pricing-included.png' %>
                Realtime dashboard for desktop, tablet and mobile
              </td>
            </tr>
            <tr>
              <td>
                <%= image_tag 'pricing/pricing-included.png' %>
                White label dashboard
              </td>
            </tr>
            <tr>
              <td>
                <%= image_tag 'pricing/pricing-included.png' %>
                Batch devices definition (coming Q1 2015)
              </td>
            </tr>
            <tr>
              <td>
                <%= image_tag 'pricing/pricing-included.png' %>
                Analytics (coming Q2 2015)
              </td>
            </tr>
            <tr>
              <td>
                <%= image_tag 'pricing/pricing-included.png' %>
                Priority support via mail
              </td>
            </tr>
          </tbody>
        </table>

        <a href="" class="button-add button-add-big">Sign up for Lelylan</a>
      </div>
    <hr/>
    </div>

    <div class="inner row">
      <div class="table-pricing">
        <div class="table-title">
          <div>
            <h2 class="plan">Life Plan</h2>
            <h2 class="price"><a href="#" class="makers-price">$49.95 per device</a></h2>
          </div>
        </div>
        <div class="table-title table-subtitle">
          <div>
            <p class="plan">Equals to $0.42 per month in a 10 years device life</p>
          </div>
        </div>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>
                <%= image_tag 'pricing/pricing-included.png' %>
                <span class="highlight">1</span> Connected Device
                <a href="#" class="info info-connected">(what is this?)</a>
                <button class="button-add button-change button-coming-soon disabled" style="float:right">Add devices <br>($49.95 each)</button>
              </td>
            </tr>
            <tr>
              <td>
                <%= image_tag 'pricing/pricing-included.png' %>
                <span class="highlight">1M</span> requests per month per device
                <a href="#" class="info info-requests-month">(what is this?)</a>
              </td>
            </tr>
            <tr>
              <td>
                <%= image_tag 'pricing/pricing-included.png' %>
                Realtime dashboard for desktop, tablet and mobile
              </td>
            </tr>
            <tr>
              <td>
                <%= image_tag 'pricing/pricing-included.png' %>
                White label dashboard
              </td>
            </tr>
            <tr>
              <td>
                <%= image_tag 'pricing/pricing-included.png' %>
                Batch devices definition (coming Q1 2015)
              </td>
            </tr>
            <tr>
              <td>
                <%= image_tag 'pricing/pricing-included.png' %>
                Analytics (coming Q2 2015)
              </td>
            </tr>
            <tr>
              <td>
                <%= image_tag 'pricing/pricing-included.png' %>
                Priority support via mail
              </td>
            </tr>
          </tbody>
        </table>

        <button class="button-add button-add-big button-coming-soon disabled">Coming soon</button>
      </div>
    <hr/>
    </div>


    <div class="inner row">
      <div class="table-pricing">
        <div class="table-title">
          <div>
            <h2 class="plan">Usage Plan</h2>
            <h2 class="price"><a href="#" class="makers-price">Pay what you use</a></h2>
          </div>
        </div>
        <div class="table-title table-subtitle">
          <div>
            <p class="plan">$4.95 per device, $24.95 per 1M requests pack</p>
          </div>
        </div>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>
                <%= image_tag 'pricing/pricing-included.png' %>
                <span class="highlight">1</span> Connected Device
                <a href="#" class="info info-requests-pack">(what is this?)</a>
                <button class="button-add button-change button-coming-soon disabled" style="float:right">+ Add devices <br>($4.95 each)</button>
              </td>
            </tr>
            <tr>
              <td>
                <%= image_tag 'pricing/pricing-included.png' %>
                Pack of <span class="highlight">1M</span> requests
                <a href="#" class="info info-requests-pack">(what is this?)</a>
                <button class="button-add button-change button-coming-soon disabled" style="float:right">Add requests <br>($24.95 to add 1M req)</button>
              </td>
            </tr>
            <tr>
              <td>
                <%= image_tag 'pricing/pricing-included.png' %>
                Realtime dashboard for desktop, tablet and mobile
              </td>
            </tr>
            <tr>
              <td>
                <%= image_tag 'pricing/pricing-included.png' %>
                White label dashboard
              </td>
            </tr>
            <tr>
              <td>
                <%= image_tag 'pricing/pricing-included.png' %>
                Batch devices definition (coming Q1 2015)
              </td>
            </tr>
            <tr>
              <td>
                <%= image_tag 'pricing/pricing-included.png' %>
                Analytics (coming Q2 2015)
              </td>
            </tr>
            <tr>
              <td>
                <%= image_tag 'pricing/pricing-included.png' %>
                Priority support via mail
              </td>
            </tr>
          </tbody>
        </table>

        <button class="button-add button-add-big button-coming-soon disabled">Coming soon</button>
      </div>
    <hr/>
    </div>
  </section>

  <section class="go">
  <div class="inner">
    <h2>Interested in using Lelylan?</h2>
    <a href="http://people.lelylan.com/subscriptions/new" class="button-add">Join the Beta</a>
  </div>
  </section>

</main>
