<main role="main">

<section class="container-wrapper features">


    <div class="inner row one">
      <div class="right small">
        <%= image_tag 'use-cases/makers.png' %>
      </div>
      <div class="left big">
        <h2>System Integrators</h2>
        <p>
        Are you an embedded hardware company who wants to create connected products?
        We can be your software partner. Lelylan offers a solid API and a secure
        infrastructure that makes it simple to access any physical device (e.g. light, locks,
        thermostats) through the web. And, on top of it, we have all the experience to create
        the best mobile experience based on your needs.
        </p>
        <p><a class="button-add" href="mailto:touch@lelylan.com">Contact us &rarr;</a></p>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>

    <div class="inner row">
      <div class="right small">
        <%= image_tag 'makers/kickstarter.png' %>
      </div>
      <div class="left big">
        <h2>Kickstarter and Indiegogo</h2>
        <p>
        Do you want to create the coolest connected product ever? Hardware is not easy,
        but also building an open API, an app working on Android and iOS, a dev center,
        analytic tools and a scalable infrastructure takes a lot of time. We remove this
        hassle and speed up the development cycle of your connected products. You focus on
        the hardware, we help you on the software.
        </p>

        <p>
        <a class="button-add" href="mailto:touch@lelylan.com">Contact us &rarr;</a>
        <a class="button-add" href="http://ezcontrol.it">Checkout the EZControl Indiegogo campaign &rarr;</a>
        </p>

      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>

    <div class="inner row">
      <div class="left big">
        <h2>Lelylan Private Cloud</h2>
        <p>
        Do you want your own Lelylan? We offer you Lelylan Private Cloud, your own instance
        of Lelylan for your own products. It runs on your local servers or on any cloud
        infrastructure, such as Amazon Web Services or Google Cloud Platform.
        </p>
        <p>
        <a class="button-add" href="mailto:touch@lelylan.com">Contact us &rarr;</a>
        <span class="button-add button-disabled">Lelylan Private Cloud coming 1Q 2015</span>
        </p>
      </div>
      <div class="right small">
        <%= image_tag 'companies/apps.png' %>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>


    <div class="inner row">
      <div class="left big">
        <h2>White Label App</h2>
        <p>
        We created an open-source and higly customizable dashboard that works on mobile,
        tablet and desktop. This means you can create a white label solution based on your needs.
        And if you need help, we'll be happy to tailor the best User Experience for your products.
        </p>
        <p>
        <a class="button-add" href="mailto:touch@lelylan.com">Contact us &rarr;</a>
        <a class="button-add" href="http://github.com/lelylan/devices-dashboard-ng/">Get source code on Github &rarr;</a>
        </p>
      </div>
      <div class="right small">
        <%= image_tag 'use-cases/analytics.png' %>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>

    <div class="inner row one">
      <div class="right small">
        <%= image_tag 'use-cases/any.png' %>
      </div>
      <div class="left big">
        <h2>Makers and Developers</h2>
        <p>
        Are you a maker? You can hack your home and connect any device like lights, locks
        or thermostats using Lelylan. Are you a developer? Create new apps and a new services
        to make our homes a smarter place to live in. Lelylan is open to any hardware and
        offers wrappers in different languages to get started in minutes.
        </p>
        <p><a class="button-add" href="http://dev.lelylan.com">Get started with the dev center &rarr;</a></p>
      </div>
      <div class="clearfix"></div>
    <hr/>
    </div>

  </section>

  <section class="go">
  <div class="inner">
    <h2>Interested in Building Apps Using Lelylan?</h2>
    <a href="http://people.lelylan.com/users/sign_up" class="button-add">Get started with Lelylan</a>
  </div>
  </section>

</main>
