<!doctype html>

<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->

</html>
  <head>

    <base href="/">
    <meta charset="utf-8">

    <title>Lelylan. Open Source Internet of Things</title>

    <meta name="description" 
          content="Microservices architecture for developers to create the Internet of Things.">
    <meta name="keywords" 
          content="iot, microservices, open source, ruby, node.js">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <%= stylesheet_link_tag    'application', :media => "all" %>
    <%= javascript_include_tag 'application' %>

    <meta http-equiv="cleartype" content="on">
  </head>


  <body class="features <%= params[:id] %>">

    <header id="global-header" class="navbar">

      <nav role="navigation">
      <div class="wrapper">

        <a class="brand" href="/"><span class="lelylan-icon"></span></a>

        <ul id="main-menu" class="nav-collapse collapse">

          <li class="dev">
            <a href="http://dev.lelylan.com" target="_blank">Dev Center</a>
          </li>
          
          <li class="dev">
            <a href="http://github.com/lelylan" target="_blank">Github</a>
          </li>

          <li class="blog">
            <a href="https://medium.com/@lelylan" target="_blank">Blog</a>
          </li>

          <li class="try">
            <a href="http://people.lelylan.com/users/sign_up" target="_blank">Try</a>
          </li>
        </ul>

      </div>
      </nav>
      <section class="featurebanner <%= params[:id] %>-header">
      <div class="bannercontent">

        <% if params[:id]=='index' %>
          <h1 class="title">Open Source<br> Internet of Things</h1>
          <p>Deploy connected products faster. Microservices architecture. For developers.</p>

          <p class="buttons-group">
            <a class="button-add button-header" href="http://dev.lelylan.com" target="_blank" style="margin-left: 5px">Get started today</a>
          </p>

          <%#<a class="playbutton" href="http://try.lelylan.com"><span class="hidden">Try Lelylan</span></a>%>
        <% end %>

        <% if params[:id]=='people' %>
          <h1 class="title">Work and experiment with Lelylan</h1>
          <p>Lelylan Friends</p>
        <% end %>
      </div>
      </section>
    </header>

    <div class="clearfix"></div>

    <%= yield %>

    <div class="clearfix"></div>
    <footer id="global-footer">
      <nav id="footer-nav" role="navigation">
        <div>
          <ul id="footer-menu">
            <li><a href="http://dev.lelylan.com">Dev Center</a></li>
            <li><a href="http://github.com/lelylan">Github</a></li>
            <li><a href="https://medium.com/@lelylan">Blog</a></li>
            <li><a href="http://people.lelylan.com/users/sign_up">Try</a></li>
            <li><a href="http://dev.lelylan.com/support">Support</a></li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </nav>
      <div class="clearfix"></div>
    </footer>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-12181910-2', 'lelylan.com');
      ga('send', 'pageview');
    </script>
  </body>
</html>
