<!doctype html>

<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->

</html>
  <head>
    <base href="/">
    <meta charset="utf-8">

    <title>Lelylan. Building the connected home</title>

    <meta name="description" content="A simple and open solution to connect every device to the web.">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:300,400,700">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>


    <meta http-equiv="cleartype" content="on">
  </head>

  <body class="features <%= params[:id] %>">

    <header id="global-header" class="navbar">
      <nav role="navigation">
      <div class="wrapper">
        <a class="brand" href="/"><span class="lelylan-icon"></span> Lelylan</a>
        <button type="button" class="mobile-menu" data-toggle="collapse" data-target=".nav-collapse"><span class="hidden">Menu</span></button>
        <ul id="main-menu" class="nav-collapse collapse">
          <li class="makers"><a class="<%= 'current' if params[:id]=='makers' %>" href="/makers">Makers</a></li>
          <li class="developers"><a class="<%= 'current' if params[:id]=='developers' %>" href="/developers">Developers</a></li>
          <li class="people"><a class="<%= 'current' if params[:id]=='people' %>" href="/people">Call for action</a></li>
          <li class="try"><a href="http://try.lelylan.com">Try Demo</a></li>
          <li class="join"><a href="http://people.lelylan.com/subscriptions/new">Join</a></li>
        </ul>
      </div>
      </nav>
      <section class="featurebanner <%= params[:id] %>-header">
      <div class="bannercontent">
        <% if params[:id]=='index' %>
          <h1 class="title">Building the Connected Home</h1>
          <p>A simple and open solution to connect every device to the web.</p>
          <a class="playbutton" href="http://try.lelylan.com"><span class="hidden">Try Lelylan</span></a>
        <% end %>

        <% if params[:id]=='makers' %>
          <h1 class="title">Makers, Designers and Kickstarters</h1>
          <p>Create new physical objects for your home and connect them to the web in no time</p>
        <% end %>

        <% if params[:id]=='developers' %>
          <h1 class="title">Web Developers and Designers</h1>
          <p>A simple and open set of REST API to easily create new apps for the connected home.</p>
        <% end %>

        <% if params[:id]=='people' %>
          <h1 class="title">Collaborate with Lelylan</h1>
          <p>Do you want to realize an idea related to the connected home?  <a href="http://people.lelylan.com/subscriptions/new">Join us.</a></p>
        <% end %>
      </div>
      </section>
    </header>

    <div class="clearfix"></div>

    <%= yield %>

    <div class="clearfix"></div>
    <footer id="global-footer">
      <nav id="footer-nav" role="navigation">
        <div>
          <ul id="footer-menu">
            <li><a href="/">Home</a></li>
            <li class="makers"><a href="/makers">Makers</a></li>
            <li class="developers"><a href="/developers">Developers</a></li>
            <li class="dev"><a href="http://dev.lelylan.com">Dev Center</a></li>
            <%#<li class="blog"><a href="http://blog.lelylan.com/">Blog</a></li>%>
            <li class="try"><a href="http://try.lelylan.com">Try Demo</a></li>
            <li class="join"><a href="http://people.lelylan.com/subscriptions/new">Join</a></li>
          </ul>
        </div>
        <div class="clearfix"></div>
        <div class="social-footer">

          <!-- Facebook -->
          <div id="fb-root"></div>
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=117921285026384";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>
          <div class="fb-like" data-href="http://lelylan.com" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>

          <!-- Twitter -->
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://lelylan.com" data-text="building the connected home" data-related="lelylan" data-hashtags="iot, lelylan">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

          <!-- Google Plus -->
          <div class="g-plusone" data-size="medium" data-href="http://lelylan.com"></div>
          <script type="text/javascript">
            (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/plusone.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
          </script>

          <!-- Github -->
          <iframe src="http://ghbtns.com/github-btn.html?user=lelylan&type=follow&count=true"
          allowtransparency="true" frameborder="0" scrolling="0" width="132" height="20"></iframe>

          <!-- Linkedin -->
          <script src="//platform.linkedin.com/in.js" type="text/javascript">
          lang: en_US
          </script>
          <script type="IN/Share" data-url="http://lelylan.com" data-counter="right"></script>
        </div>
      </nav>
    <div class="clearfix"></div>
    </footer>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12181910-2']);
      _gaq.push(['_setDomainName', 'lelylan.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>
